/* .example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox 
/* .example {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

*/

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000205;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #03bbe4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0aeac5;
}
